In [13]:
import pandas as pd
df = pd.read_csv("C:/Users/lgino/code/Lothardill/Hospitalis/final_combined1.csv")

C:\Users\lgino\AppData\Local\Temp\ipykernel_19500\3171306765.py:2: DtypeWarning: Columns (1,3,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/lgino/code/Lothardill/Hospitalis/final_combined1.csv")

In [2]:
df['Libellé Article'] = df['Libellé Article'].astype(str)
df["Quantité"] = (df["Quantité"].str.replace(",", ".", regex=False).astype(float))
df['Quantité'] = df['Quantité'].fillna(0)
df["Quantité"] = (df["Quantité"].round(0).astype(int))
df['Dépôt DMI'] = df['Dépôt DMI'].replace("NULL", "0", regex=False)
df['Dépôt DMI'] = df['Dépôt DMI'].fillna(0)
df["Dépôt DMI"] = (df["Dépôt DMI"].astype(int))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5953297 entries, 0 to 5953296
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   Fournisseur      object
 1   Routage          object
 2   Robot ETS        object
 3   Date Insertion   object
 4   Commande         object
 5   Dépôt DMI        int32
 6   Réf. Article     object
 7   Libellé Article  object
 8   Quantité         int32
 9   Prix HT          float64
 10  Prix TTC         float64
 11  Mnt HT           float64
 12  Mnt TTC          float64
dtypes: float64(4), int32(2), object(7)
memory usage: 545.0+ MB

In [4]:
df["Date Insertion"] = pd.to_datetime(df["Date Insertion"], errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5953297 entries, 0 to 5953296
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   Fournisseur      object
 1   Routage          object
 2   Robot ETS        object
 3   Date Insertion   datetime64[ns]
 4   Commande         object
 5   Dépôt DMI        int32
 6   Réf. Article     object
 7   Libellé Article  object
 8   Quantité         int32
 9   Prix HT          float64
 10  Prix TTC         float64
 11  Mnt HT           float64
 12  Mnt TTC          float64
dtypes: datetime64[ns](1), float64(4), int32(2), object(6)
memory usage: 545.0+ MB

In [16]:
df.to_csv("C:/Users/lgino/code/Lothardill/Hospitalis/table_clean.csv")
df.describe()

       Dépôt DMI       Prix HT      Prix TTC        Mnt HT       Mnt TTC
count  1295629.0  4.523625e+06  4.363828e+06  2.217254e+06  3.851677e+06
mean         1.0  2.201603e+02  2.301707e+02  2.793105e+02  4.797583e+02
std          0.0  1.060304e+03  1.101951e+03  1.172868e+03  4.865532e+03
min          1.0 -4.200000e+03 -4.431000e+03  0.000000e+00 -1.507275e+04
25%          1.0  9.000000e-01  8.880000e-01  0.000000e+00  3.600000e+01
50%          1.0  1.884450e+01  1.912330e+01  0.000000e+00  1.350000e+02
75%          1.0  1.181000e+02  1.247749e+02  1.695150e+02  4.200000e+02
max          1.0  7.000000e+04  8.400000e+04  9.570000e+04  8.479200e+06

In [22]:
import pandas as pd

# Step 1: Filter dataset to include only products where "Prix HT" >= 50€
df_filtered = df[df["Prix HT"] >= 50]

# Step 2: Precompute the Depot_1_Percentage once (before the loop)
df_depot_percentage = (
    df_filtered.groupby("Réf. Article")["Dépôt DMI"]
    .agg(lambda x: (x.sum() / x.count()) * 100)  # Calculate percentage
    .reset_index()
    .rename(columns={"Dépôt DMI": "Depot_1_Percentage"})
)

# Merge to bring "Depot_1_Percentage" into df_filtered
df_filtered = df_filtered.merge(df_depot_percentage, on="Réf. Article", how="left")

# Step 3: Initialize an empty dictionary
product_dict = {}

# Step 4: Loop through the dataframe
for _, row in df_filtered.iterrows():
    if row["Prix HT"] > 50 and row["Depot_1_Percentage"] >= 75:
        product_dict[row["Réf. Article"]] = row.to_dict()  # Store row as a dictionary

# Step 5: Display final results
import ace_tools as tools
tools.display_dataframe_to_user(name="Filtered Products (Prix HT >= 50€ & Depot_1_Percentage >= 75%)", dataframe=pd.DataFrame(product_dict.values()))

print("✅ Dictionary stored with", len(product_dict), "products.")

ModuleNotFoundError: No module named 'ace_tools'

In [ ]:
import pandas as pd
df = pd.read_csv("C:/Users/lgino/code/Lothardill/Hospitalis/final_combined1.csv")